
<div *ngIf="!this.isLoading" style="margin-left:calc(40vw - 75px);"><img src="assets/loadingIcon.gif" /></div>
<div *ngIf="this.isLoading" style="margin-left:auto;margin-right:auto;max-width:700px;">
  <h5>User's Shopping List:</h5>
  <ag-grid-angular class="ag-theme-alpine"
                   [columnDefs]=this.columnDefs
                   [rowData]=this.rowData
                   [rowDragManaged]="true"
                   [gridOptions]="gridOptions"
                   [frameworkComponents]="frameworkComponents"
                   (gridReady)="onGridReady($event)">

  </ag-grid-angular>
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="AddRow()" style="margin-left:50px;margin-top:5px; font-size:125%; padding-top:0px; padding-bottom:2px;"><b>+</b></button>
</div>
