
html, body {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.ag-header {
  height: 0px !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#add-row-button {
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 125%;
  padding-top: 0px;
  padding-bottom: 2px;
}

#grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

#loading-icon {
  margin-left: calc(35vw - 100px);
}
