/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';


a {
  color: #0366d6;
}

.ag-root-wrapper {
  border: none !important;
}

.ag-header {
    height: 0px !important;
    min-height: 0px !important;
    border: none !important;
}

.ag-theme-alpine {
  --ag-font-size: 130%;
  --ag-icon-size: 80%;
  --ag-grid-size: 7px;
}

code {
  color: #e01a76;
}
